* {
   
        font-family: "Times New Roman";
}
/* p {
    font-family: 'Times New Roman', Times, serif;
} */
#outer {
font-size:25px;

}
#inner {
   font-size:10px;
    
}
h1 {
text-align:right;
text-transform:capitalize;
}